.grid-container {
    display: grid;
    grid-template-columns: 60px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 60px;
    grid-gap: 1px;
    background-color: #e8e8e8;
    padding: 1px;
    text-align: center;
    font-size: 11px;
}

.grid-container > div {
    padding: 10px 0;
}

.header {
    background-color: #006747;
    color: white;
}

.body {
    background-color: white;
    color: black;
}

.cursor-pointer {
    cursor: pointer;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 103, 71, .5);
}