.color-green {
    color: #006747!important;
}

.uk-list-primary>::before {
    color: #006747!important;
}

.uk-label {
    background: #006747;
}

.cursor-pointer {
    cursor: pointer;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 103, 71, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #006747;
}